In [4]:
print ('asics of python')

basics of python

In [7]:
#how to use numbers in python
>>> 2+2

10

In [8]:
>>> 50-40*5

-150

In [ ]:
# the integer (int) number are 1, 3 , 5, whihc is any whole number 
# the float ar number which have decimal points (0.3, 4.1, 5.5)
# division (/) always returns the float
# to get the integrer result we have to use (//)
# to calculate the reminder of the division we use %

In [14]:
# for example
>>> 17/3

5.666666666666667

In [10]:
17//3

5

In [11]:
17%3

2

In [19]:
# it is also possible to calculate the power by ** 
>>> 5 ** 3

125

In [20]:
>>> 5 ** 5

3125

In [21]:
# the = is use to asssigh poer to the variable
>>> width = 20
>>> height = 5*9
>>> width * height

900

In [ ]:
# the text inside are called string ( str ) but it is inside (''). 
# if the number are also inside the semi colon it ia also a string
# to quote a quotes with escape we can use \, in the front of escape
# or we can use double quote
# for example

In [23]:
>>> print ('doesn\'t')

doesn't

In [24]:
>>> print (" doesn't")

 doesn't

In [25]:
# to print new line use \n
>>> print ('some\nthing')

some
thing

In [ ]:
# string can be joined together with + or *
# for example
# if two strings are inclosed in quotes they are automatically connected, 
# it is important when breaking long strings

In [31]:
>>> 3 * 'um' + 'ium'

'umumumium'

In [32]:
>>> 'py' 'th'

'pyth'

In [33]:
print ('my name is mamata' 'i am learnig python')

my name is mamatai am learnig python

In [ ]:
# if the word is python the charecter in 0 position is p and 5th position is n

In [37]:
>>> word = 'python'
>>> word[3]

'h'

In [38]:
>>> word[-1] # last charecter

'n'

In [39]:
>>> word[-2] # second last charectver

'o'

In [40]:
# we can also slice the word python
>>> word[0:2] # charecter from 0 position included to 2nd postion excluded

'py'

In [41]:
>>> word[:2] # charecter from beginning to positiom 2 excluded

'py'

In [42]:
>>> word[4:] # charecter from 4 position to end

'on'

In [48]:
# list of numer can be taken in [] and seperated by ,comma
>>> square = [2,4,6,8,10]
>>> square

[2, 4, 6, 8, 10]